.selected-state-container {
  display: flex;
  flex: 1;
  height: 100vh;
  /* Full screen height */
}

/* Map container on the left */
.map-container {
  flex: 3;
  /* 60% of the screen */
  height: 100%;
}

/* Information container on the right */
.info-container {
  flex: 2;
  /* 40% of the screen */
  padding: 20px;
  background-color: #f5f5f5;
  /* Light grey background */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  /* Add slight shadow */
  overflow-y: auto;
  /* Make it scrollable if content overflows */
}

.info-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.info-container ul {
  list-style: none;
  padding: 0;
}

.info-container li {
  margin-bottom: 10px;
  font-size: 1.2em;
}

/* Styling for the select dropdowns */
.select-container {
  margin-bottom: 40px;
}

.option-selector-dropdown {
  width: 200px;
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.state-selector-dropdown {
  width: 150px;
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.select-label {
  font-size: 1rem;
  /* text-decoration: underline; */
  margin-bottom: 10px;
  color: #333;
}

.redBrownBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #a52a2a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.radio-margin {
  margin-left: 15px;
}

.outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.center {
  display: flex;
  justify-content: center;
}

.whole-page {
  width: 100vw;
  height: 95vh;
  overflow: hidden;
}

.first-page {
  width: 100vw;
  height: 95vh;
  display: flex;
  align-items: center;
}

.second-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.third-page {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: flex-start;
}

.first-half {
  width: 50vw;
  max-height: 100vh;
}

.Chart {
  display: flex;
  justify-content: center;
}
.Table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.second-half {
  width: 50vw;
  max-height: 100vh;
}

.display-none {
  display: none;
}

.info-visual {
  width: 100vw;
  height: 100vh;
}

.second-half {
  display: flex;
  /* Enables flexbox */
  justify-content: space-between;
  /* Adjusts spacing between the components */
  align-items: center;
  /* Aligns components vertically (centered) */
}

.pie-chart-container {
  flex: 1;
  /* This will make both pie charts take equal width */
  margin: 0 10px;
  /* Adds some spacing between the pie charts */
}
.page-header {
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 30px;
}
